body {
  font-family: "Times New Roman", serif;
  font-size: 14px;
  font-weight: 400;
  color: #000000;
  background-color: #FFFFF0;
}


.container {
  width: 960px;
  margin: 0 auto;
}

.clearfix::after {
  display: table;
  clear: both;
  content: '';
}


.list-default {
  margin: 0;
  padding: 0;
  list-style: none;
}

.list-default li {
  display: block;
}

.header-left {
  float: left;
  width: 500px;
  padding-top: 20px;
}

.header-right {
  float: right;
  width: 420px;
  padding-top: 20px;
}

.header-right__cv-contacts {
  font-size: 14px;
  width: 250px;
}

.icon-contacts {
  position: relative;
  margin-right: 5px;
  padding-left: 20px;
}

.icon-contacts::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  font-family: 'FontAwesome';
  src: url('../fonts/fontawesome-webfont.eot?v=4.6.3');
  src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.6.3') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff2?v=4.6.3') format('woff2'), url('../fonts/fontawesome-webfont.woff?v=4.6.3') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.6.3') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.6.3#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
  font-size: 14px;
  line-height: 14px;
}

.icon-mail::before {
  content: "\f0e0";
}

.icon-skype::before {
  content: "\f17e";
}

.icon-telegram::before {
  content: "\f1d8";
}

.icon-phone::before {
  content: "\f095";
}

.list-contacts li {
  line-height: 20px;
}

.list-contacts a {
  text-decoration: none;
  color: black;
}

.list-contacts a:hover {
  text-decoration: underline;
  color: red;
}

.list-contacts a:active {
  text-decoration: none;
  color: red;
}

.header-left__cv-item {
  margin-top: 20px;
}

.cv-name__title {
  margin: 0 0;
  font-size: 48px;
}


.cv-name__profession {
  display: block;
  text-align: right;
  font-size: 24px;
  color: grey;
  padding-right: 150px;
}

.header-right__cv-social {
  font-size: 0;
  margin-top: 20px;
  text-align: center;
}


.icon-social {
  position: relative;
  display: inline-block;
  vertical-align: top;
  padding-left: 40px;
  text-decoration: none;
}


.icon-social::before {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  width: 30px;
  height: 30px;
  background-color: #000000;
}

.cv-item__head {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border: 1px solid black;
  border-bottom-style: none;
}

.cv-item__head-title {
  margin: 0;
  padding: 5px;
}

.cv-item__stuff {
  margin-top: 0;
  padding: 10px 5px;
  font-size: 16px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border: 1px solid black;
}

.sheldon {
  font-size: 10px;
  vertical-align: super;
  color: red;
}
