$color-main-color: #262626;
$color-link-color: #000;


$color-section-grey: #F5F5F5;
$color-section-light: #ebedec;

$color-social-item: #F3E8D6;
$color-name-bg: #DEE2D1;

$color-item-background: rgba(222,226,209,0.3);
